
extends ../layout

block content
    ul
        li
            h2
                a(href='/') #{post.title}
            p #{post.body}
            h5
                span #{post.created.toGMTString()}
                span  &#09 | &#09
                span by #{post.author._id}
            h7
                span
                    a(href='/post/edit/#{post.id}') Edit
                span  &#09 | &#09
                span
                    a(href='/post/remove/#{post.id}') Remove
