
extends ../layout

block content
    ul
        div(class="large-12 columns")
            h2(style="display:inline")
                a(href='/post/#{post.id}') #{post.title}
            | &nbsp
            div#post_creation_date(style="display:inline")
                | on #{post.formattedDate} by #{post.author._id}
                if isLoggedIn
                    span &#09 | &#09
                    span
                        a(href='/post/edit/#{post.id}') Edit
                    span  &#09 | &#09
                    span
                        a(href='/post/remove/#{post.id}') Remove
            #post_body
                p !{post.body}
            p &nbsp
                span
                    form(method='post', action="/post/comment/"+post.id)
                        textarea(name='commentText')
                        input(type='submit', value='Comment')
            each comment in comments
                li
                    p #{comment.author}: #{comment.text}
