
extends ../layout

block content
    ul
        div(class="large-12 columns")
            h2#postTitle
                a(href='/a/#{post.id}') #{post.title}
            div#postInfo
                p on #{post.formattedDate} by #{post.author.name}
                p #{minutesToRead} minute read
                if isLoggedIn
                    span &#09 | &#09
                    span
                        a(href='/a/edit/#{post.id}') Edit
                    span  &#09 | &#09
                    span
                        a(href='/a/remove/#{post.id}') Remove
                p
                    for tag in post.tags
                        span #{tag}&nbsp
            div#postBody
                p !{post.body}
            p &nbsp
            //form(method='post', action="/subscribe")
                input#subscribeInputField(name="newSubscriber", placeholder="Become a familiar reader!", autocomplete='off', size=30)
            p &nbsp
                // Comments
                span
                    if (commentErrorMessages && commentErrorMessages.length)
                        div#errors
                        each errorMessage in commentErrorMessages
                            | ! #{errorMessage.message}
                            p
                    form(method='post', action="/a/"+post.id)
                        input#commentAuthor(name="commentAuthor", placeholder="Your name, please", autocomplete='on')
                        p
                            textarea(name='commentText', rows="5", cols="50")
                                if(commentText && commentText.length)
                                    | #{commentText}
                        div(class="g-recaptcha", data-sitekey="6LcvLBMTAAAAAMYzIpD6MKtHW2Sh8E-ivgR1aSjL")
                        input(type='submit', value='Comment')
            each comment in comments
                li
                    p #{comment.author}: #{comment.text}
