extends layout

block content
    if !(tree)
        p Nothing to see here. Move along
    else
        div#archiveTree
            each yearBranch in tree.years
                div#archiveTreeYearBranch
                    i #{yearBranch.year}
                    div#archiveTreeMonthBranch
                        each monthBranch in yearBranch.months
                            p
                                | #{monthBranch.month}
                                each postLeaf in monthBranch.posts
                                    div#archiveTreePostLeaf
                                        p
                                        b
                                            a(href='/post/#{postLeaf.id}') #{postLeaf.title} (#{postLeaf.formattedDate})