extends layout

block content
    if !(tree)
        p Nothing to see here. Move along
    else
        div#archiveTree
            each yearBranch in tree.years
                div#archiveTreeYearBranch
                    | #{yearBranch.year}
                    div#archiveTreeMonthBranch
                        each monthBranch in yearBranch.months
                            p
                                | #{monthBranch.month}
                                each postLeaf in monthBranch.posts
                                    p
                                        div#archiveTreePostLeaf
                                            b
                                                a(href='/a/#{postLeaf.id}') #{postLeaf.title}
                                        div#archiveTreePostLeafDate
                                            |, on #{postLeaf.formattedDate}