extends layout

block content
   if !(posts && posts.length)
      p Nothing to see here. Move along
   else
      ul.posts
         each post in posts
            div(class="large-12 columns")
                h2(style="display:inline")
                    a(href='/post/#{post.id}') #{post.title}
                | &nbsp
                div(style="display:inline")
                    | &nbspon&nbsp
                    b #{post.formattedDate}
                    | &nbspby&nbsp
                    b #{post.author}
                    if isLoggedIn
                        span &#09 | &#09
                        span
                            a(href='/post/edit/#{post.id}') Edit
                        span  &#09 | &#09
                        span
                            a(href='/post/remove/#{post.id}') Remove
                p !{post.body}
                p &nbsp
