extends layout

block content
   if !(posts && posts.length)
      p Nothing to see here. Move along
   else
      ul.posts
         each post in posts
            h2#postTitle
                a(href='/a/#{post.id}') #{post.title}
            div#postInfo
                | &nbspon #{post.formattedDate}
                if isLoggedIn
                    span &#09 | &#09
                    span
                        a(href='/a/edit/#{post.id}') Edit
                    span  &#09 | &#09
                    span
                        a(href='/a/remove/#{post.id}') Remove
            div#postBody
                p !{post.body}
                p &nbsp
