extends layout

block content
   if !(posts && posts.length)
      p Nothing to see here. Move along
   else
      ul.posts
         each post in posts
            #postTitle(style="display:inline")
                a(href='/a/#{post.id}') #{post.title}
            div#post_creation_date(style="display:inline")
                | &nbspon #{post.formattedDate}
                if isLoggedIn
                    span &#09 | &#09
                    span
                        a(href='/a/edit/#{post.id}') Edit
                    span  &#09 | &#09
                    span
                        a(href='/a/remove/#{post.id}') Remove
            div#postBody
                p !{post.body}
                p &nbsp
