extends layout

block content
   if !(posts && posts.length)
      p Nothing to see here. Move along
   else
      ul.posts
         each post in posts
            div(class="large-12 columns")
                h1#post_title(style="display:inline")
                    a(href='/post/#{post.id}') #{post.title}
                | &nbsp
                h5#post_creation_date(style="display:inline")
                    | &nbspon&nbsp
                    b #{post.formattedDate}
                    if isLoggedIn
                        span &#09 | &#09
                        span
                            a(href='/post/edit/#{post.id}') Edit
                        span  &#09 | &#09
                        span
                            a(href='/post/remove/#{post.id}') Remove
                div#post_body
                    p !{post.body}
                    p &nbsp
