extends layout

block content
   if !(posts && posts.length)
      p Nothing to see here. Move along
   else
      ul.posts
         each post in posts
            li
                h2
                    a(href='/post/#{post.id}') #{post.title}
                p #{post.body}
                h5
                    span #{post.created.toGMTString()}
                    span &#09 | &#09
                    span by #{post.author}
                    if isLoggedIn
                        span &#09 | &#09
                        span
                            a(href='/post/edit/#{post.id}') Edit
                        span  &#09 | &#09
                        span
                            a(href='/post/remove/#{post.id}') Remove